/* CSS Document */
body {
margin: 0px;
padding: 0px;
font-family: 'Arial Black','Arial Bold', Gadget, sans-serif;
font-size: black;
font-size: 12pt;
height: 100%;
background-color: #ff8c00;
}
h1 {color: black;font-size:45px}
h2 {color: #2f4f4f; font-size:30px}
h3 {color: #2f4f4f; font-size:20px}
td, th {
  width: 7rem;
  height: 4rem;
  border: 4px solid #ccc;
  text-align: center;
}
th {
  background: lightblue;
  border-color: white;
}
body {
  padding: 3rem;
}
.center {
margin-left: auto;
margin-right: auto;
}
.thcolor1 {
background: palegreen;
border-color: grey
}
.thcolor2 {
background: gold;
border-color: yellow
}
.thcolor3 {
background: khaki;
border-color: tomato
}
.thcolor4 {
background: navajowhite;
border-color: maroon
}
.thcolor5 {
background: azure;
border-color: lightsteelblue
}
nav ul {
    list-style: none; /* Odstraòujeme odrážky */
    margin: 0px;
    padding: 0px;
    display: flex; /* Zmìníme zobrazení na flex kontejner */
    justify-content: center; /* Vycentrujeme položky */
}
nav li {
    margin: 0 50px; /* Pøidáme trochu místa mezi položkami */
}
nav a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #ff8c00; /* Barva pozadí tlaèítka */
    border: 2px solid #ff4500; /* Ohranièení tlaèítka */
    border-radius: 5px; /* Zaoblené rohy */
    color: #333;
    font-weight: bold; /* Tuènìjší písmo */
    transition: background-color 0.5s ease; /* Plynulá zmìna barvy pøi najetí */
}
nav a:hover {
    background-color: #7fff00; /* Zmìna barvy pøi najetí */
}
footer p {
    text-align: center;
}
.gallery {
    display: flex;
    flex-wrap: wrap; /* Aby se obrázky pøenesly na další øádek, pokud se nevejdou */
    justify-content: space-evenly; /* Pro rozložení obrázkù s mezerami mezi nimi */
    align-items: center;
}
figure {
    width: 30%; /* Šíøka každého obrázku */
    margin-bottom: 10px; /* Mezera mezi obrázky */
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ff4500; /* Zmìòte barvu pozadí dle potøeby */
  z-index: 1; /* Ujistìte se, že se header zobrazuje nad ostatním obsahem */
}
img {
  margin-top: 70px;
}
section {
  margin-top: 50px;
}